 .el-input .el-input__count .el-input__count-inner{
    margin-top: 60px!important;
    background: none!important;
  }

.el-textarea textarea{
    padding-bottom: 13px !important;
  }

.el-textarea .el-input__count{
    height: 12px !important;
    line-height: 12px !important;
  }
