:root {
	--status-bar-opacity: 0.95;
	--status-bar-bg-color: rgba(18, 18, 16, 0.85);
	--status-bar-bg-img: unset;
	--status-bar-border: 1px solid rgb#505350;
	--status-bar-box-shadow: 0 2px 1.667vw 0 rgba(0, 0, 0, 0.75);
	--status-bar-location-bgcolor: rgba(18, 18, 16, 0.85);
	--status-bar-center-img: url(/TIS_PLATFORM/theme/default/席位.png);
	--status-bar-pad-left-img: url(/TIS_PLATFORM/theme/default/左侧席位.svg);
	--status-bar-tools-bg: #262522;
	--status-bar-tools-border: 1px solid #4c4a48;
	--status-bar-icon-bg: linear-gradient(180deg, hsla(0, 0%, 40%, 0.05), rgba(76, 78, 70, 0.78));
	--status-bar-location-border-color: rgba(76, 78, 70, 0.78);
	--status-app-bar-bg-img: url(/TIS_PLATFORM/theme/blue/顶部背景.png);
	--status-bar-widget-btn-color: #f1d355;
	--status-bar-widget-btn-text-shadow: 1px 1px 1.25vw #ffd211;
	--status-bar-widget-btn-bg-img: linear-gradient(180deg, rgba(190, 157, 107, 0.27), rgba(255, 188, 0, 0.46));
	--status-bar-widget-box-shadow: inset 1px -1px 1px 0 #4c4a48;
	--status-bar-close-bg-image: linear-gradient(214deg, rgba(187, 45, 45, 0.83), #8b2c2c);
	--footer-switchApp-background-image: linear-gradient(-135deg, transparent 0.729vw, #715b18 0%, #241c04);
	--footer-switchApp-right-background-image: linear-gradient(-225deg, transparent 0.729vw, #715b18 0%, #241c04);
	--footer-switchApp-border-image: linear-gradient(#e0d186, #74631c) 30 30;
	--footer-switchApp-appMenuWord-color: #ffde55;
	--footer-switchApp-switchIcon-bg: url(/TIS_PLATFORM/theme/default/左下角图标.svg) no-repeat;
	--footer-left-apps-menu-bg-color: rgba(7, 7, 6, 0.9);
	--footer-left-apps-menu-box-shadow: 2px 2px 8px 1px rgba(14, 12, 5, 0.91);
	--footer-background-color: rgba(27, 25, 18, 0.9);
	--footer-opacity: 0.8;
	--footer-border: unset;
	--footer-menus-item-color: #ffde55;
	--footer-item-hover-border: 1px solid #c4a95c;
	--footer-item-hover-box-shadow: inset 1px -1px 1px 0px #4c4a48;
	--footer-item-hover-background-image: linear-gradient(180deg, rgba(190, 157, 107, 0.27), rgba(255, 188, 0, 0.46));
	--footer-item-background-image: linear-gradient(61deg, rgba(85, 158, 255, 0.63) 27%, rgba(4, 85, 183, 0) 81%);
	--status-app-tabs-bg: #000;
	--status-app-container-item-bg: #353535;
	--status-app-container-item-hover-bg: hsla(0, 0%, 100%, 0.25);
	--status-app-container-item-selected-bg: rgba(247, 200, 41, 0.1);
	--settingSys-icon-news-bg: url(/TIS_PLATFORM/theme/default/eye.svg) no-repeat;
	--settingSys-bg: url(/TIS_PLATFORM/theme/default/settingBg.svg) no-repeat;
	--settingSys-el-menu-item-hover-bg: url(/TIS_PLATFORM/theme/default/tab-bg.png) no-repeat;
	--settingSys-el-submenu-title-hover-bg: url(/TIS_PLATFORM/theme/default/tab-bg.png) no-repeat;
	--settingSys-el-menu-item-hover-color: #fff;
	--settingSys-el-submenu-item-hover-color: #fff;
	--settingSys-border-image: -webkit-linear-gradient(#ccc, #f7c829) 30 30;
	--settingSys-box-shadow: 0 0 8px 0 #f8dc6b;
	--settingSys-border: 2px solid rgba(203, 185, 111, 0.39);
	--settingSys-close-bg: url(/TIS_PLATFORM/theme/default/close.svg) no-repeat;
	--settingSys-right-container-titlePanle-bg: url(/TIS_PLATFORM/theme/default/title-bg.svg) no-repeat;
	--settingSys-right-container-titlePanle-bgcolor: #1d1c18;
	--settingSys-right-container-titleIcon-bg: url(/TIS_PLATFORM/theme/default/菱形.svg) no-repeat;
	--settingSys-news-setting-color: #191814;
	--settingSys-left-container-borderR: 1px solid rgba(97, 95, 87, 0.37);
	--settingSys-news-line-bg: hsla(0, 0%, 100%, 0.12);
	--settingSys-el-radio-inner-bg: hsla(0, 0%, 100%, 0.11);
	--settingSys-el-radio-inner-border: 1px solid hsla(0, 0%, 100%, 0.47);
	--settingSys-el-radio-inner-after-bg: #000;
	--settingSys-button-new-tag-color: hsla(0, 0%, 100%, 0.5);
	--settingSys-button-new-tag-border: 1px solid hsla(0, 0%, 100%, 0.5);
	--settingSys-el-input-inner-bg: hsla(0, 0%, 84.7%, 0.06);
	--settingSys-el-input-inner-border: 1px solid #606060;
	--status-app-container-dialog-bg: rgba(0, 0, 0, 0.9);
	--status-app-container-bg-color-bg: #262626;
	--status-app-container-timeSetting-bg: rgba(0, 0, 0, 0.85);
	--application-pad-header-after-bg: url(/TIS_PLATFORM/theme/default/img32.png) no-repeat;
	--application-pad-header-bg: url(/TIS_PLATFORM/theme/default/img31.svg) no-repeat;
	--app-title-size: 1.458vw;
	--pop-title-size: 1.25vw;
	--tab-title-size: 1.042vw;
	--text-size-big: 0.938vw;
	--text-size-small: 0.833vw;
	--text-size-light: 0.729vw;
	--text-color: #fff;
	--text-color-weak: #8c8c8c;
	--text-color-link: #fc0;
	--text-color-btn: #313131;
	--layout-bg-1: #141414;
	--layout-bg-2: #1c1c1c;
	--layout-bg-3: #232323;
	--choose-color: #806e2a;
	--default-choose-color: #969696;
	--hover-color: #fc0;
	--default-hover-color: #fff;
	--border-color: #fc0;
	--color-1: #fffee6;
	--color-2: #fff9a3;
	--color-3: #fff27a;
	--color-4: #ffe852;
	--color-5: #ffdb29;
	--color-6: #fc0;
	--color-7: #d9a600;
	--color-8: #b38300;
	--color-9: #8c6200;
	--color-10: #640
}

:root,
[data-theme=kt0] {
	--font-family: "汉仪菱心", Eurostile, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	--layout-bg-color: #262522;
	--messageCenterpc-notification-whole-bg: #393939;
	--messageCenterpc-tolistbox-hover-bg: #d2691e;
	--messageCenterpc-item-gray-bg: #4a4a4a;
	--messageCenterpc-item-title-bg: #515151;
	--messageCenterpc-item-title-border-bottom: 1px solid #6b6b6b;
	--messageCenterpc-button-wrap-bg: #6b6b6b;
	--messageCenterpc-button-wrap-hover-bg: #515151;
	--messageCenterpc-item-more-hover-color: #ddd;
	--messageCenterpc-item-more-hover-bg: #515151;
	--messageCenterpc-replay-bg: #515151;
	--messageCenterpc-replay-color: #a4a4a4;
	--messageCenterpc-delete-border-left: 1px solid #a4a4a4;
	--messageCenterpc-delete-bg: #515151;
	--messageCenterpc-delete-color: #a4a4a4;
	--messageCenterpc-replay-hover-color: #ddd;
	--messageCenterpc-replay-hover-border-color: #a4a4a4;
	--messageCenterpc-delete-hover-color: #ddd;
	--messageCenterpc-delete-hover-border-color: #a4a4a4;
	--messageCenterpc-more-bg: #4a4a4a;
	--messageCenterpc-more-border-top: 1px solid #7c7c7c;
	--messageCenterpc-more-color: hsla(0, 0%, 100%, 0.5);
	--messageCenterpc-openNewsCoreWrap-bg-color: #393939;
	--messageCenterpc-btnTxt-bg: url(/TIS_PLATFORM/theme/default/open-msg-bg.png) no-repeat;
	--messageCenterpc-btnSting-border: 1px solid hsla(0, 0%, 98.4%, 0.25);
	--messageCenterpc-btnSting-hover-bg: hsla(0, 0%, 84.7%, 0.25);
	--messageCenterpc-icon-setting-hover-color: #ddd;
	--dialogBox-el-dialog-bg: rgba(0, 0, 0, 0.85);
	--dialogBox-el-dialog-body-bg: transparent;
	--dialogBox-el-dialog-header-bg: #13181c;
	--dialogBox-el-input-inner-bg: #202020;
	--dialogBox-el-input-inner-border: 1px solid hsla(0, 0%, 100%, 0.22);
	--dialogBox-el-button-primary-bg: url(../img/btn.png) no-repeat;
	--dialogBox-el-button-primary-color: #382c0c;
	--dialogBox-el-dialog-close-hover-color: #f7c829;
	--drag-container-border: 1px solid rgba(255, 221, 85, 0.6);
	--content-edit-bg: #1d1c19;
	--side-menu-item-hover-bg: #3b3635;
	--side-menu-border: 1px solid rgba(255, 221, 85, 0.6);
	--floating-tool-container-bg: rgba(0, 0, 0, 0.75);
	--floating-tool-container-item-selected-bg: rgba(247, 200, 41, 0.1);
	--content-edit-item-bg: #2e2e2e;
	--content-edit-item-border: 1px solid #2e2e2e;
	--dialog-header-bg: #282828;
	--dialog-content-bg: #1d1c19;
	--dialog-drag-container-border: 1px solid #373737;
	--dialog-drag-container-boxShadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
	--widgetsPanel-content-border: 1px solid #fff;
	--voiceAssustant-wrapper-bg: #12100a;
	--voiceAssustant-operation-color: #fff;
	--voiceAssustant-voiceList-color: hsla(0, 0%, 100%, 0.05);
	--voiceAssustant-operation-oIcon-bg1: url(/TIS_PLATFORM/theme/default/实时流模式.svg);
	--voiceAssustant-operation-oIcon-bg2: url(/TIS_PLATFORM/theme/default/快捷指令.svg);
	--voiceAssustant-drawer-container-bg: #1e1c17;
	--voiceAssustant-drawer-container-borderT: 1px solid hsla(0, 0%, 100%, 0.6);
	--historucalNews-table-wrap-bg: #1a1916;
	--historucalNews-el-table-header-wrapper-bg: #181815;
	--historucalNews-el-table-currentRow-bg: hsla(0, 0%, 100%, 0.2);
	--lookMessage-el-dialog-header-bg: rgba(0, 0, 0, 0.8);
	--lookMessage-el-dialog: rgba(0, 0, 0, 0.8);
	--lookMessage-el-button-primary-bg: url(/TIS_PLATFORM/theme/default/btn.png) no-repeat;
	--control-panel-pad-bg: rgba(0, 0, 0, 0.9);
	--pad-app-after-bg: url(/TIS_PLATFORM/theme/default/三角.svg) no-repeat;
	--theme-main-color: #ffc70a;
	--theme-main-text-color: #fff;
	--theme-main-bg-color: #232323;
	--theme-secondary-bg-color: #202020
}

[data-theme=kt0] {
	--status-bar-opacity: 0.95;
	--status-bar-bg-color: rgba(18, 18, 16, 0.85);
	--status-bar-bg-img: unset;
	--status-bar-border: 1px solid #505350;
	--status-bar-box-shadow: 0 2px 1.667vw 0 rgba(0, 0, 0, 0.75);
	--status-bar-center-img: url(/TIS_PLATFORM/theme/default/席位.png);
	--status-bar-pad-left-img: url(/TIS_PLATFORM/theme/default/左侧席位.svg);
	--status-bar-tools-bg: #262522;
	--status-bar-tools-border: 1px solid #4c4a48;
	--status-bar-icon-bg: linear-gradient(180deg, hsla(0, 0%, 40%, 0.05), rgba(76, 78, 70, 0.78));
	--status-app-bar-bg-img: url(/TIS_PLATFORM/theme/default/顶部背景.png);
	--status-bar-widget-btn-color: #3ac6c6;
	--status-bar-widget-btn-text-shadow: 1px 1px 1.25vw #36acac;
	--status-bar-widget-btn-bg-img: linear-gradient(180deg, rgba(46, 71, 71, 0.27), rgba(65, 168, 168, 0.46));
	--status-bar-widget-box-shadow: inset 1px -1px 1px 0 #3ac6c6;
	--status-bar-close-bg-image: linear-gradient(214deg, rgba(187, 45, 45, 0.83), #8b2c2c);
	--footer-switchApp-background-image: linear-gradient(-135deg, transparent 0.729vw, #715b18 0%, #241c04);
	--footer-switchApp-right-background-image: linear-gradient(-225deg, transparent 0.729vw, #715b18 0%, #241c04);
	--footer-switchApp-border-image: linear-gradient(#e0d186, #74631c) 30 30;
	--footer-switchApp-appMenuWord-color: #ffde55;
	--footer-switchApp-switchIcon-bg: url(/TIS_PLATFORM/theme/default/左下角图标.svg) no-repeat;
	--footer-left-apps-menu-bg-color: rgba(7, 7, 6, 0.9);
	--footer-left-apps-menu-box-shadow: 2px 2px 8px 1px rgba(14, 12, 5, 0.91);
	--footer-background-color: rgba(27, 25, 18, 0.9);
	--footer-opacity: 0.95;
	--footer-border: unset;
	--footer-menus-item-color: #9ed5ff;
	--footer-item-hover-border: 1px solid #80d7d7;
	--footer-item-hover-box-shadow: inset 1px -1px 1px 0 #4c4a48;
	--footer-item-hover-background-image: linear-gradient(180deg, rgba(46, 71, 71, 0.27), rgba(65, 168, 168, 0.46));
	--footer-item-background-image: linear-gradient(61deg, rgba(65, 168, 168, 0.46) 27%, rgba(4, 85, 183, 0) 81%);
	--status-app-tabs-bg: #000;
	--status-app-container-item-bg: #f7c829;
	--status-app-container-item-hover-bg: hsla(0, 0%, 100%, 0.25);
	--status-app-container-item-selected-bg: rgba(247, 200, 41, 0.1);
	--settingSys-icon-news-bg: url(/TIS_PLATFORM/theme/default/eye.svg) no-repeat;
	--settingSys-bg: url(/TIS_PLATFORM/theme/default/settingBg.svg) no-repeat;
	--settingSys-el-menu-item-hover-bg: url(/TIS_PLATFORM/theme/default/tab-bg.png) no-repeat;
	--settingSys-el-submenu-title-hover-bg: url(/TIS_PLATFORM/theme/default/tab-bg.png) no-repeat;
	--settingSys-el-menu-item-hover-color: #fff;
	--settingSys-el-submenu-item-hover-color: #fff;
	--settingSys-border-image: -webkit-linear-gradient(#ccc, #f7c829) 30 30;
	--settingSys-box-shadow: 0 0 8px 0 #f8dc6b;
	--settingSys-border: 2px solid rgba(203, 185, 111, 0.39);
	--settingSys-close-bg: url(/TIS_PLATFORM/theme/kt0/close.svg) no-repeat;
	--settingSys-right-container-titlePanle-bg: url(/TIS_PLATFORM/theme/default/title-bg.svg) no-repeat;
	--settingSys-right-container-titlePanle-bgcolor: #1d1c18;
	--settingSys-right-container-titleIcon-bg: url(/TIS_PLATFORM/theme/default/菱形.svg) no-repeat;
	--settingSys-news-setting-color: #191814;
	--settingSys-left-container-borderR: 1px solid rgba(97, 95, 87, 0.37);
	--settingSys-news-line-bg: hsla(0, 0%, 100%, 0.12);
	--settingSys-el-radio-inner-bg: hsla(0, 0%, 100%, 0.11);
	--settingSys-el-radio-inner-border: 1px solid hsla(0, 0%, 100%, 0.47);
	--settingSys-el-radio-inner-after-bg: #000;
	--settingSys-button-new-tag-color: hsla(0, 0%, 100%, 0.5);
	--settingSys-button-new-tag-border: 1px solid hsla(0, 0%, 100%, 0.5);
	--settingSys-el-input-inner-bg: hsla(0, 0%, 84.7%, 0.06);
	--settingSys-el-input-inner-border: 1px solid #606060;
	--status-app-container-dialog-bg: #000;
	--status-app-container-bg-color-bg: #262626;
	--status-app-container-timeSetting-bg: rgba(0, 0, 0, 0.85);
	--application-pad-header-after-bg: url(../img/img32.png);
	--application-pad-header-bg: url(/TIS_PLATFORM/theme/default/img31.svg) no-repeat
}

[data-theme=blue],
[data-theme=kt0] {
	--text-color: #fff;
	--text-color-weak: #8c8c8c;
	--text-color-link: #5cb2e7;
	--text-color-btn: #313131;
	--layout-bg-5: #0c0c0c;
	--layout-bg-8: #141414;
	--layout-bg-11: #1c1c1c;
	--layout-bg-14: #5cb2e7;
	--layout-bg-17: #2b2b2b;
	--layout-bg-20: #333
}

[data-theme=blue] {
	--status-bar-opacity: 0.95;
	--status-bar-bg-color: rgba(18, 18, 16, 0.85);
	--status-bar-bg-img: unset;
	--status-bar-border: 1px solid linear-gradient(180deg, #c8c8c8 29%, #afafaf);
	--status-bar-box-shadow: 0 2px 1.667vw 0 rgba(0, 0, 0, 0.37);
	--status-bar-location-bgcolor: #3c3c3d;
	--status-bar-center-img: url(/TIS_PLATFORM/theme/blue/席位.png);
	--status-bar-pad-left-img: url(/TIS_PLATFORM/theme/blue/左侧席位.svg);
	--status-bar-tools-bg: #262522;
	--status-bar-tools-border: 1px solid rgba(35, 165, 164, 0.39);
	--status-bar-icon-bg: linear-gradient(180deg, hsla(0, 0%, 40%, 0.05), rgba(76, 78, 70, 0.78));
	--status-bar-location-border-color: rgba(76, 78, 70, 0.78);
	--status-app-bar-bg-img: linear-gradient(180deg, #4a4a4a, #2f2f2f), linear-gradient(#212123, #212123);
	--status-bar-widget-btn-color: #fff;
	--status-bar-widget-btn-text-shadow: 1px 1px 1.25vw rgba(35, 165, 164, 0.6);
	--status-bar-widget-btn-bg-img: rgba(35, 165, 164, 0.6);
	--status-bar-widget-box-shadow: inset 1px -1px 1px 0 rgba(35, 165, 164, 0.6);
	--status-bar-close-bg-image: linear-gradient(214deg, rgba(187, 45, 45, 0.83), #8b2c2c);
	--footer-switchApp-background-image: linear-gradient(-135deg, transparent 0.729vw, #1a3333 0%, #2a5555);
	--footer-switchApp-right-background-image: linear-gradient(-225deg, transparent 0.729vw, #1a3333 0%, #2a5555);
	--footer-switchApp-border-image: linear-gradient(#2a5555, #1a3333) 30 30;
	--footer-switchApp-appMenuWord-color: #f5f5f5;
	--footer-switchApp-switchIcon-bg: url(/TIS_PLATFORM/theme/blue/左下角图标.svg) no-repeat;
	--footer-left-apps-menu-bg-color: rgba(7, 7, 6, 0.9);
	--footer-left-apps-menu-box-shadow: 2px 2px 8px 1px rgba(14, 12, 5, 0.91);
	--footer-background-color: rgba(27, 25, 18, 0.9);
	--footer-menus-item-color: #23a5a4;
	--footer-item-hover-border: 1px solid #23a5a4;
	--footer-item-hover-box-shadow: unset;
	--footer-item-hover-background-image: linear-gradient(61deg, rgba(4, 85, 183, 0) 27%, rgba(85, 158, 255, 0.63) 81%);
	--footer-item-background-image: linear-gradient(61deg, rgba(85, 158, 255, 0.63) 27%, rgba(4, 85, 183, 0) 81%);
	--messageCenterpc-notification-whole-bg: #393939;
	--messageCenterpc-tolistbox-hover-bg: #d2691e;
	--messageCenterpc-item-gray-bg: #4a4a4a;
	--messageCenterpc-item-title-bg: #515151;
	--messageCenterpc-item-title-border-bottom: 1px solid #6b6b6b;
	--messageCenterpc-button-wrap-bg: #6b6b6b;
	--messageCenterpc-button-wrap-hover-bg: #515151;
	--messageCenterpc-item-more-hover-color: #ddd;
	--messageCenterpc-item-more-hover-bg: #515151;
	--messageCenterpc-replay-bg: #515151;
	--messageCenterpc-replay-color: #a4a4a4;
	--messageCenterpc-delete-border-left: 1px solid #a4a4a4;
	--messageCenterpc-delete-bg: #515151;
	--messageCenterpc-delete-color: #a4a4a4;
	--messageCenterpc-replay-hover-color: #ddd;
	--messageCenterpc-replay-hover-border-color: #a4a4a4;
	--messageCenterpc-delete-hover-color: #ddd;
	--messageCenterpc-delete-hover-border-color: #a4a4a4;
	--messageCenterpc-more-bg: #4a4a4a;
	--messageCenterpc-more-border-top: 1px solid #7c7c7c;
	--messageCenterpc-more-color: hsla(0, 0%, 100%, 0.5);
	--messageCenterpc-openNewsCoreWrap-bg-color: #393939;
	--messageCenterpc-btnTxt-bg: url(/TIS_PLATFORM/theme/blue/open-msg-bg.svg) no-repeat;
	--messageCenterpc-btnSting-border: 1px solid hsla(0, 0%, 98.4%, 0.25);
	--messageCenterpc-btnSting-hover-bg: hsla(0, 0%, 84.7%, 0.25);
	--messageCenterpc-icon-setting-hover-color: #ddd;
	--dialogBox-el-dialog-bg: rgba(0, 0, 0, 0.85);
	--dialogBox-el-dialog-body-bg: transparent;
	--dialogBox-el-dialog-header-bg: #13181c;
	--dialogBox-el-input-inner-bg: #202020;
	--dialogBox-el-input-inner-border: 1px solid hsla(0, 0%, 100%, 0.22);
	--dialogBox-el-button-primary-bg: url(../img/btn.png) no-repeat;
	--dialogBox-el-button-primary-color: #382c0c;
	--dialogBox-el-dialog-close-hover-color: rgba(35, 165, 164, 0.4);
	--status-app-tabs-bg: #48a8e9;
	--status-app-container-item-bg: #353535;
	--status-app-container-item-hover-bg: hsla(0, 0%, 100%, 0.25);
	--status-app-container-item-selected-bg: rgba(247, 200, 41, 0.1);
	--settingSys-icon-news-bg: url(/TIS_PLATFORM/theme/blue/eye.svg) no-repeat;
	--settingSys-bg: url(/TIS_PLATFORM/theme/blue/settingBg.png) no-repeat;
	--settingSys-el-menu-item-hover-bg: linear-gradient(270deg, rgba(35, 165, 164, 0.48), rgba(53, 64, 64, 0.48));
	--settingSys-el-submenu-title-hover-bg: url(/TIS_PLATFORM/theme/blue/tab-bg.png) no-repeat;
	--settingSys-el-menu-item-hover-color: #fff;
	--settingSys-el-submenu-item-hover-color: #fff;
	--settingSys-border-image: -webkit-linear-gradient(#ccc, #23a5a4) 30 30;
	--settingSys-box-shadow: 0 0 8px 0 #23a5a4;
	--settingSys-border: 2px solid rgba(35, 165, 164, 0.39);
	--settingSys-close-bg: url(/TIS_PLATFORM/theme/blue/close.svg) no-repeat;
	--settingSys-right-container-titlePanle-bg: url(/TIS_PLATFORM/theme/default/title-bg.svg) no-repeat;
	--settingSys-right-container-titlePanle-bgcolor: #1d1c18;
	--settingSys-right-container-titleIcon-bg: url(/TIS_PLATFORM/theme/blue/菱形.svg) no-repeat;
	--settingSys-news-setting-color: #191814;
	--settingSys-left-container-borderR: 1px solid rgba(97, 95, 87, 0.37);
	--settingSys-news-line-bg: hsla(0, 0%, 100%, 0.12);
	--settingSys-el-radio-inner-bg: hsla(0, 0%, 100%, 0.11);
	--settingSys-el-radio-inner-border: 1px solid hsla(0, 0%, 100%, 0.47);
	--settingSys-el-radio-inner-after-bg: #000;
	--settingSys-button-new-tag-color: hsla(0, 0%, 100%, 0.5);
	--settingSys-button-new-tag-border: 1px solid hsla(0, 0%, 100%, 0.5);
	--settingSys-el-input-inner-bg: hsla(0, 0%, 84.7%, 0.06);
	--settingSys-el-input-inner-border: 1px solid #606060;
	--drag-container-border: 1px solid rgba(35, 165, 164, 0.6);
	--content-edit-bg: #1d1c19;
	--side-menu-item-hover-bg: #232323;
	--side-menu-border: 1px solid rgba(35, 165, 164, 0.6);
	--floating-tool-container-bg: rgba(0, 0, 0, 0.75);
	--floating-tool-container-item-selected-bg: rgba(247, 200, 41, 0.1);
	--content-edit-item-bg: #2e2e2e;
	--content-edit-item-border: 1px solid #2e2e2e;
	--dialog-header-bg: #282828;
	--dialog-content-bg: #1d1c19;
	--dialog-drag-container-border: 1px solid #373737;
	--dialog-drag-container-boxShadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
	--status-app-container-dialog-bg: rgba(0, 0, 0, 0.9);
	--status-app-container-bg-color-bg: #262626;
	--widgetsPanel-content-border: 1px solid #fff;
	--voiceAssustant-wrapper-bg: #12100a;
	--voiceAssustant-operation-color: #fff;
	--voiceAssustant-voiceList-color: hsla(0, 0%, 100%, 0.05);
	--voiceAssustant-operation-oIcon-bg1: url(/TIS_PLATFORM/theme/blue/实时流模式.svg);
	--voiceAssustant-operation-oIcon-bg2: url(/TIS_PLATFORM/theme/blue/快捷指令.svg);
	--voiceAssustant-drawer-container-bg: #1e1c17;
	--voiceAssustant-drawer-container-borderT: 1px solid hsla(0, 0%, 100%, 0.6);
	--historucalNews-table-wrap-bg: #1a1916;
	--historucalNews-el-table-header-wrapper-bg: #181815;
	--historucalNews-el-table-currentRow-bg: hsla(0, 0%, 100%, 0.2);
	--lookMessage-el-dialog-header-bg: rgba(0, 0, 0, 0.8);
	--lookMessage-el-dialog: rgba(0, 0, 0, 0.8);
	--lookMessage-el-button-primary-bg: url(/TIS_PLATFORM/theme/blue/btn.png) no-repeat;
	--status-app-container-timeSetting-bg: rgba(0, 0, 0, 0.85);
	--application-pad-header-after-bg: url(/TIS_PLATFORM/theme/blue/img32.png) no-repeat;
	--application-pad-header-bg: url(/TIS_PLATFORM/theme/blue/img31.svg) no-repeat;
	--control-panel-pad-bg: rgba(0, 0, 0, 0.9);
	--pad-app-after-bg: url(/TIS_PLATFORM/theme/blue/三角.svg) no-repeat;
	--theme-main-color: #23a5a4;
	--theme-main-text-color: #fff;
	--theme-main-bg-color: #3c3c3d;
	--theme-secondary-bg-color: #212123;
	--color-1: #fffee6;
	--color-2: #fff9a3;
	--color-3: #fff27a;
	--color-4: #ffe852;
	--color-5: #ffdb29;
	--color-6: #fc0;
	--color-7: #d9a600;
	--color-8: #b38300;
	--color-9: #8c6200;
	--color-10: #640
}

[data-theme=kt] {
	--font-family: "汉仪菱心", Eurostile, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	--layout-bg-color: #262522;
	--status-bar-opacity: 0.95;
	--status-bar-bg-color: #234a9a;
	--status-bar-bg-img: unset;
	--status-bar-border: 1px solid #505350;
	--status-bar-box-shadow: 0px 2px 0.833vw 0px rgba(35, 74, 154, 0.75);
	--status-bar-location-bgcolor: #3558a2;
	--status-bar-center-img: url(/TIS_PLATFORM/theme/kt/编组4.png);
	--status-bar-pad-left-img: url(/TIS_PLATFORM/theme/kt/左侧席位.svg);
	--status-bar-tools-bg: #3558a2;
	--status-bar-tools-border: 1px solid #afafaf;
	--status-bar-icon-bg: linear-gradient(180deg, hsla(0, 0%, 100%, 0.45), hsla(0, 0%, 100%, 0.85));
	--status-bar-location-border-color: hsla(0, 0%, 100%, 0.85);
	--status-app-bar-bg-img: #234a9a;
	--status-bar-widget-btn-color: #f5f5f5;
	--status-bar-widget-btn-text-shadow: 1px 1px 1.25vw #234a9a;
	--status-bar-widget-btn-bg-img: #234a9a;
	--status-bar-widget-box-shadow: inset 0px -1px 0px 0px rgba(35, 74, 154, 0.12);
	--status-bar-close-bg-image: linear-gradient(214deg, rgba(187, 45, 45, 0.83), #8b2c2c);
	--footer-switchApp-background-image: linear-gradient(-135deg, transparent 0.729vw, #7295e1 0%, #234a9a);
	--footer-switchApp-right-background-image: linear-gradient(-225deg, transparent 0.729vw, #7295e1 0%, #234a9a);
	--footer-switchApp-border-image: linear-gradient(#234a9a, #7295e1) 30 30;
	--footer-switchApp-appMenuWord-color: #f5f5f5;
	--footer-switchApp-switchIcon-bg: url(/TIS_PLATFORM/theme/kt/左下角图标.svg) no-repeat;
	--footer-left-apps-menu-bg-color: #d3ddf3;
	--footer-left-apps-menu-box-shadow: 2px 2px 8px 1px rgba(14, 12, 5, 0.91);
	--footer-background-color: #234a9a;
	--footer-opacity: 0.95;
	--footer-border: unset;
	--footer-menus-item-color: #f5f5f5;
	--footer-item-hover-border: none;
	--footer-item-hover-box-shadow: none;
	--footer-item-hover-background-image: #1b3872;
	--footer-item-background-image: linear-gradient(61deg, rgba(65, 168, 168, 0.46) 27%, rgba(4, 85, 183, 0) 81%);
	--messageCenterpc-notification-whole-bg: #e6e6e6;
	--messageCenterpc-tolistbox-hover-bg: #d2691e;
	--messageCenterpc-item-gray-bg: #f5f5f5;
	--messageCenterpc-item-title-bg: #f5f5f5;
	--messageCenterpc-item-title-border-bottom: 1px solid rgba(35, 74, 154, 0.6);
	--messageCenterpc-button-wrap-bg: rgba(35, 74, 154, 0.6);
	--messageCenterpc-button-wrap-hover-bg: #234a9a;
	--messageCenterpc-item-more-hover-color: #343434;
	--messageCenterpc-item-more-hover-bg: #234a9a;
	--messageCenterpc-replay-bg: #515151;
	--messageCenterpc-replay-color: #a4a4a4;
	--messageCenterpc-delete-border-left: 1px solid #a4a4a4;
	--messageCenterpc-delete-bg: #515151;
	--messageCenterpc-delete-color: #a4a4a4;
	--messageCenterpc-replay-hover-color: #ddd;
	--messageCenterpc-replay-hover-border-color: #a4a4a4;
	--messageCenterpc-delete-hover-color: #ddd;
	--messageCenterpc-delete-hover-border-color: #a4a4a4;
	--messageCenterpc-more-bg: #4a4a4a;
	--messageCenterpc-more-border-top: 1px solid #7c7c7c;
	--messageCenterpc-more-color: hsla(0, 0%, 100%, 0.5);
	--messageCenterpc-openNewsCoreWrap-bg-color: #f5f5f5;
	--messageCenterpc-btnTxt-bg: url(/TIS_PLATFORM/theme/kt/open-msg-bg.png) no-repeat;
	--messageCenterpc-btnSting-border: 1px solid #343434;
	--messageCenterpc-btnSting-hover-bg: #d3ddf3;
	--messageCenterpc-icon-setting-hover-color: #000;
	--dialogBox-el-dialog-bg: rgba(0, 0, 0, 0.85);
	--dialogBox-el-dialog-body-bg: #fff;
	--dialogBox-el-dialog-header-bg: #ebebeb;
	--dialogBox-el-input-inner-bg: #202020;
	--dialogBox-el-input-inner-border: 1px solid hsla(0, 0%, 100%, 0.22);
	--dialogBox-el-button-primary-bg: linear-gradient(180deg, #234a9a 100%, #234a9a 0);
	--dialogBox-el-button-primary-color: #fff;
	--dialogBox-el-dialog-close-hover-color: #d3ddf3;
	--status-app-tabs-bg: #234a9a;
	--status-app-container-item-bg: #e0e0e0;
	--status-app-container-item-hover-bg: #d3ddf3;
	--status-app-container-item-selected-bg: rgba(247, 200, 41, 0.1);
	--settingSys-icon-news-bg: url(/TIS_PLATFORM/theme/kt/eye.svg) no-repeat;
	--settingSys-bg: url(/TIS_PLATFORM/theme/kt/settingBg.svg) no-repeat;
	--settingSys-el-menu-item-hover-bg: #d3ddf3;
	--settingSys-el-submenu-title-hover-bg: #fff;
	--settingSys-el-menu-item-hover-color: #234a9a;
	--settingSys-el-submenu-item-hover-color: #234a9a;
	--settingSys-border-image: -webkit-linear-gradient(#ccc, #234a9a) 30 30;
	--settingSys-box-shadow: 0 0 8px 0 #234a9a;
	--settingSys-border: 2px solid rgba(35, 74, 154, 0.39);
	--settingSys-close-bg: url(/TIS_PLATFORM/theme/kt/close.svg) no-repeat;
	--settingSys-right-container-titlePanle-bg: url(/TIS_PLATFORM/theme/kt/title-bg.svg) no-repeat;
	--settingSys-right-container-titlePanle-bgcolor: #f5f5f5;
	--settingSys-right-container-titleIcon-bg: url(/TIS_PLATFORM/theme/kt/lingxing.svg) no-repeat;
	--settingSys-news-setting-color: #f2f2f2;
	--settingSys-left-container-borderR: 1px solid rgba(35, 74, 154, 0.37);
	--settingSys-news-line-bg: rgba(35, 74, 154, 0.12);
	--settingSys-el-radio-inner-bg: #fff;
	--settingSys-el-radio-inner-border: 1px solid rgba(35, 74, 154, 0.47);
	--settingSys-el-radio-inner-after-bg: #f5f5f5;
	--settingSys-button-new-tag-color: rgba(35, 74, 154, 0.5);
	--settingSys-button-new-tag-border: 1px solid rgba(35, 74, 154, 0.5);
	--settingSys-el-input-inner-bg: #fff;
	--settingSys-el-input-inner-border: 1px solid rgba(35, 74, 154, 0.5);
	--drag-container-border: 1px solid #d0d0d0;
	--content-edit-bg: #f5f5f5;
	--side-menu-item-hover-bg: #d3ddf3;
	--side-menu-border: 1px solid #d0d0d0;
	--floating-tool-container-bg: #fff;
	--floating-tool-container-item-selected-bg: rgba(35, 74, 154, 0.1);
	--content-edit-item-bg: #fcfcfc;
	--content-edit-item-border: 1px solid #aeaeae;
	--dialog-header-bg: #ebebeb;
	--dialog-content-bg: #f5f5f5;
	--dialog-drag-container-border: 1px solid #d3d3d3;
	--dialog-drag-container-boxShadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
	--status-app-container-dialog-bg: hsla(0, 0%, 100%, 0.95);
	--status-app-container-bg-color-bg: #eee;
	--widgetsPanel-content-border: 1px solid rgba(35, 74, 154, 0.5);
	--voiceAssustant-wrapper-bg: #f5f5f5;
	--voiceAssustant-operation-color: #3558a2;
	--voiceAssustant-voiceList-color: rgba(35, 74, 154, 0.05);
	--voiceAssustant-operation-oIcon-bg1: url(/TIS_PLATFORM/theme/kt/实时流模式.svg);
	--voiceAssustant-operation-oIcon-bg2: url(/TIS_PLATFORM/theme/kt/快捷指令.svg);
	--voiceAssustant-drawer-container-bg: #d3ddf3;
	--voiceAssustant-drawer-container-borderT: 1px solid rgba(35, 74, 154, 0.6);
	--historucalNews-table-wrap-bg: #fff;
	--historucalNews-el-table-header-wrapper-bg: rgba(0, 0, 0, 0.07);
	--historucalNews-el-table-currentRow-bg: #d3ddf3;
	--lookMessage-el-dialog-header-bg: #d3d3d3;
	--lookMessage-el-dialog: #f5f5f5;
	--lookMessage-el-button-primary-bg: url(/TIS_PLATFORM/theme/kt/btn.png) no-repeat;
	--status-app-container-timeSetting-bg: #f5f5f5;
	--application-pad-header-after-bg: #234a9a;
	--application-pad-header-bg: url(/TIS_PLATFORM/theme/kt/img31.svg) no-repeat;
	--control-panel-pad-bg: hsla(0, 0%, 74.9%, 0.84);
	--pad-app-after-bg: url(/TIS_PLATFORM/theme/kt/三角.svg) no-repeat;
	--theme-main-color: #234a9a;
	--theme-main-text-color: #353535;
	--theme-main-bg-color: #f5f5f5;
	--theme-secondary-bg-color: #fff;
	--text-color: #fff;
	--text-color-weak: #8c8c8c;
	--text-color-link: #5cb2e7;
	--text-color-btn: #313131;
	--layout-bg-3: #f5f5f5;
	--layout-bg-5: #0c0c0c;
	--layout-bg-8: #141414;
	--layout-bg-11: #1c1c1c;
	--layout-bg-14: #5cb2e7;
	--layout-bg-17: #2b2b2b;
	--layout-bg-20: #333
}

