.yqxxkjPad {
  // .plugin-item {
  //     min-height: 176px;
  // }
  .plugin-add-h {
    height: 176px;
  }
  .bottom-bar {
    height: 5.469vw;
    line-height: 5.469vw;
    font-size: var(--app-title-size);
  }

  .table-title {
    font-size: var(--pop-title-size);
  }

  .table-con {
    font-size: var(--pop-title-size);
  }
  .input-label {
    font-size: var(--pop-title-size);
  }
}
