:root {
    --layout-text-color: #fff;
    --status-bar-text-color: #fff;
    --status-bar-opacity: 0.95;
    --status-bar-bg-color: rgba(18, 18, 16, 0.85);
    --status-bar-bg-img: unset;
    --status-bar-border: 1px solid rgb#505350;
    --status-bar-box-shadow: 0 2px 1.667vw 0 rgba(0, 0, 0, 0.75);
    --status-bar-center-img: url(/TIS_PLATFORM/theme/default/席位.png);
    --status-bar-tools-bg: #262522;
    --status-bar-tools-border: 1px solid #4c4a48;
    --status-bar-icon-bg: linear-gradient(180deg, hsla(0, 0%, 40%, 0.05), rgba(76, 78, 70, 0.78));
    --status-app-bar-bg-img: url(/TIS_PLATFORM/theme/default/顶部背景.png);
    --status-bar-widget-btn-color: #f1d355;
    --status-bar-widget-btn-text-shadow: 1px 1px 1.25vw #ffd211;
    --status-bar-widget-btn-bg-img: linear-gradient(180deg, rgba(190, 157, 107, 0.27), rgba(255, 188, 0, 0.46));
    --status-bar-widget-box-shadow: inset 1px -1px 1px 0 #4c4a48;
    --status-bar-close-bg-image: linear-gradient(214deg, rgba(187, 45, 45, 0.83), #8b2c2c);
    --footer-background-image: linear-gradient(180deg, #29251b, rgba(14, 14, 14, 0.79));
    --footer-opacity: 0.95;
    --footer-border: unset;
    --footer-item-color: #ffde55;
    --footer-item-hover-border: 1px solid #c4a95c;
    --footer-item-hover-box-shadow: inset 1px -1px 1px 0 #4c4a48;
    --footer-item-hover-background-image: linear-gradient(180deg, rgba(190, 157, 107, 0.27), rgba(255, 188, 0, 0.46));
    --footer-item-background-image: linear-gradient(61deg, rgba(85, 158, 255, 0.63) 27%, rgba(4, 85, 183, 0) 81%);
    --footer-widget-btn-border: 1px solid #c4a95c;
    --footer-more-border-bottom: 0.521vw solid #f1d152;
    --app-title-size: 1.458vw;
    --pop-title-size: 1.25vw;
    --tab-title-size: 1.042vw;
    --text-size-big: 0.938vw;
    --text-size-small: 0.833vw;
    --text-size-light: 0.729vw;
    --text-color: #fff;
    --text-color-weak: #8c8c8c;
    --text-color-link: #fc0;
    --text-color-btn: #313131;
    --layout-bg-1: #141414;
    --layout-bg-2: #1c1c1c;
    --layout-bg-3: #232323;
    --choose-color: #806e2a;
    --default-choose-color: #969696;
    --hover-color: #fc0;
    --default-hover-color: #fff;
    --border-color: #fc0;
    --color-1: #fffee6;
    --color-2: #fff9a3;
    --color-3: #fff27a;
    --color-4: #ffe852;
    --color-5: #ffdb29;
    --color-6: #fc0;
    --color-7: #d9a600;
    --color-8: #b38300;
    --color-9: #8c6200;
    --color-10: #640;
}
